* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100%;
  /* background-color: khaki; */
  background-color: rgb(157, 157, 157);
}

.App {
  height: inherit;
  width: 100%;
  /* margin: 10em; */
}

.mainGrid {
  margin: 5em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.imageMagnify {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.imageZoom {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.title {
  font-family: "Monaco";
  font-weight: 600;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: center;
  background-color: #f00;
  color: #fff;
}

.zoomOptionTitle {
  font-family: "Monaco";
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
