* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.App {
  height: inherit;
  width: 100%;
}

.mainGrid {
  margin: 3em 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(181, 181, 181);
  border-radius: 10px;
}

.imageMagnify,
.imageZoom {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.title {
  font-family: "Montserrat Bold";
  font-weight: 600;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: center;
  background-color: #f00;
  color: #fff;
}

.zoomOptionTitle {
  font-family: "Montserrat Regular";
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
